<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @website.name %>
</p>

<p>
  <%= link_to "Click here to visit this website", @website.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @website.description %>
</p>

<%= link_to 'Back', websites_path %>
